* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}

header {
  min-height: 93px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E7E5E4;
}
header nav {
  max-width: 1200px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
header nav .logo svg {
  width: 72px;
  height: 72px;
}
header nav .logo span a {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.45px;
  text-decoration: none;
  color: black;
}
header nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}
header nav .links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: black;
}
header nav .links a:hover {
  opacity: 0.7;
}
header nav .header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
header nav .header-buttons .header-button {
  background-color: #4862ad;
  color: #E7E5E4 !important;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
}
header nav .header-buttons .header-button:hover {
  opacity: 0.7;
}
header nav .header-buttons svg {
  width: 32px;
  height: 32px;
}
header nav .header-buttons svg:hover {
  opacity: 0.7;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/heroImg.jpg);
  max-width: 100%;
  min-height: 943px;
  margin: 0 auto;
  transform: scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img .hero-content {
  transform: scaleX(-1);
}
.hero-img .hero-content .hero-subcontent {
  padding-top: 201px;
  display: flex;
  flex-direction: column;
  max-width: 528px;
  min-height: 400px;
  color: #E7E5E4;
  gap: 12px;
}
.hero-img .hero-content .hero-subcontent .hero-subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #f2911c;
  border-bottom: 1px solid #E7E5E4;
  padding-bottom: 10px;
  width: fit-content;
}
.hero-img .hero-content .hero-subcontent .hero-title {
  font-weight: 900;
  font-size: 88px;
  line-height: 80.96px;
  letter-spacing: 2.2px;
  color: white;
}
.hero-img .hero-content .hero-subcontent .hero-title span {
  color: #f2911c !important;
}
.hero-img .hero-content .hero-subcontent .hero-descp {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.25px;
  letter-spacing: 0px;
}
.hero-img .hero-content .hero-subcontent .hero-buttons {
  display: flex;
  gap: 15px;
}
.hero-img .hero-content .hero-subcontent .hero-buttons .hero-fill-btn {
  background-color: #4862ad;
  color: white !important;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
}
.hero-img .hero-content .hero-subcontent .hero-buttons .hero-fill-btn:hover {
  opacity: 0.7;
}
.hero-img .hero-content .hero-subcontent .hero-buttons .hero-outline-btn {
  color: #E7E5E4 !important;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
  border: 1px solid #E7E5E4;
}
.hero-img .hero-content .hero-subcontent .hero-buttons .hero-outline-btn:hover {
  opacity: 0.7;
}

.stats-wrapper {
  background-color: #4862ad;
}
.stats-wrapper .stats-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-wrapper .stats-content .stats-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats-wrapper .stats-content .stats-card .stats-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #E7E5E4;
}
.stats-wrapper .stats-content .stats-card .stats-desp {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #E7E5E4;
  text-align: center;
}
.stats-wrapper .stats-content .divider {
  width: 2px;
  height: 40px;
  background-color: #E7E5E4;
}
