.callout-2 {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .callout-title2 {
        @include subtitle($primary-color);
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 24px;
        text-align: center;
    }
    .callout-descp2 {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }
    .callout2-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        width: 100%;
        margin-top: 40px;
        .callout2-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 1 1 320px;
            max-width: 390px;
            min-height: 320px;
            border-radius: 14px;
            background-color: $primary-color;
            padding: 33px;
            gap: 12px;
            .card2-title {
                @include subtitle($white-color);
            }
            .card2-desp {
                @include descp($white-color);
                font-size: 16px;
            }
            .card-btn {
                @include outline-button($white-color);
                margin-top: auto;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    @include mobile {
        padding-top: 48px;
        padding-bottom: 48px;

       

        .callout2-cards {
            .callout2-card {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
    }
}