.hero-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/heroImg.jpg);
  max-width: 100%;
  min-height: 943px;
  margin: 0 auto;
  transform: scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-content {
    transform: scaleX(-1);
    .hero-subcontent {
      padding-top: 201px;
      display: flex;
      flex-direction: column;
      max-width: 528px;
      min-height: 400px;
      color: $white-color;
      gap: 12px;
      .hero-subtitle {
        @include subtitle($primary-color);
        border-bottom: 1px solid $white-color;
        padding-bottom: 10px;
        width: fit-content;
      }
      .hero-title {
        font-weight: 900;
        font-size: 88px;
        line-height: 80.96px;
        letter-spacing: 2.2px;
        color: white;
        span {
            color: $primary-color !important; 
        }
      }
      .hero-descp {
        @include descp($white-color);
      }
      .hero-buttons {
        display: flex;
        gap: 15px;
        .hero-fill-btn {
          @include primary-button($primary-color);
          &:hover {
            opacity: 0.7;
          }
        }
        .hero-outline-btn {
          @include outline-button($white-color);
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
